.react-contexify {
    position: fixed;
    opacity: 0;
    user-select: none;
    background-color: #ddd;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    color: #373a3c;
    padding: 5px 0;
    min-width: 180px;
}

.react-contexify .react-contexify__submenu {
    position: absolute;
    top: 0;
    pointer-events: none;
    transition: opacity 0.275s;
}

.react-contexify__submenu-arrow {
    font-size: 12px;
    position: absolute;
    right: 10px;
    line-height: 22px;
}

.react-contexify__separator {
    float: left;
    width: 100%;
    cursor: default;
    margin: 4px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.react-contexify__item {
    cursor: pointer;
    position: relative;
}

.react-contexify__item:not(.react-contexify__item--disabled):hover
    > .react-contexify__item__content {
    background-color: #aaa;
    border-color: #ddd;
}

.react-contexify__item:not(.react-contexify__item--disabled):hover
    > .react-contexify__submenu {
    pointer-events: auto;
    opacity: 1;
}

.react-contexify__item--disabled {
    cursor: default;
    opacity: 0.5;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.15);
    color: #878a8c;
}

.react-contexify__item__content {
    padding: 6px 12px;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    white-space: nowrap;
    color: #373a3c;
    position: relative;
}

.react-contexify__item__icon {
    font-size: 20px;
    margin-right: 5px;
    font-style: normal;
}
