@import '../../../../sass/colors';

$itemHeight: 50px;

.navigator-item {
    display: flex;
    flex-direction: row;
    height: $itemHeight;
    border: 1px solid grey;
    background-color: $primary-4;

    & > * {
        user-select: none;
    }

    &:hover {
        background-color: $primary-5;
    }

    &.active {
        background-color: $primary-5;
        border-color: lightblue;

        .navigator-item-icon {
            border: white dotted 2px;
        }
    }

    .navigator-item-icon {
        width: $itemHeight - 10px;
        height: $itemHeight - 10px;
        margin: 5px;

        & > img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }

        & > div {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .navigator-item-title {
        align-self: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
